cmake
osqp==0.6.1
cvxpy
fklearn
graphviz
jinja2
jupyter-contrib-nbextensions
lightgbm
linearmodels
matplotlib
networkx
nbconvert
nbformat
notebook==6.5.4
numpy
pandas
plotly-express
scikit-learn
scipi
seaborn
statsmodels
toolz
